@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;900&display=swap');
@import url('https://fonts.cdnfonts.com/css/gill-sans');

body {
  background-image: url(./images/crypto-key.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.header{
  display: flex;
  justify-content: space-between;
  padding: 0 60px;
  animation: glow 1.2s infinite;
  -moz-animation: glow 1.2s ease infinite;
  -webkit-animation: glow 1.2s infinite;
}

@-webkit-keyframes glow {
  20%,
  24%,
  55% {
    color: #fff;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #f00, 0 0 10px #ff8d00, 0 0 98px #f00;
  }
}

@keyframes glow {
  20%,
  24%,
  55% {
    text-shadow:
      0 0 10px #fff,
      0 0 5px #ffa500,
      0 0 15px #ffa500,
      0 0 20px #ffa500,
      0 0 40px #ffa500,
      0 0 60px #f00,
      0 0 10px #ff8d00,
      0 0 98px #f00;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow:
      0 0 20px #fff,
      0 0 5px #ffa500,
      0 0 15px #ffa500,
      0 0 20px #ffa500,
      0 0 40px #ffa500,
      0 0 60px #f00,
      0 0 10px #ff8d00
      0 0 98px #f00;
  }
}

.header h1 {
  color: white;
}

.input-header {
  color: white;
  font-style: italic;
}

.ul-cont {
  display: inline-flex;
  justify-content: center;
  gap: 20px;
  animation: glow 1.2s infinite;
  -moz-animation: glow 1.2s ease infinite;
  -webkit-animation: glow 1.2s infinite;
}

.ul-cont li {
  list-style: none;
  cursor: pointer;
  color: white;
}

.input1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.input {
  padding: 10px 20px;
  margin: 0 20px;
  width: 50%;
  border-radius: 8px;
  border: none;
  font-size: 25px;
  box-shadow: 3px 3px 3px rgb(244, 247, 246);
}

.rotate-img {
  display: grid;
  place-items: center;
}

.grid {
  display: grid;
  padding: 0 40px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

@media screen and (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
  }

  .input1 {
    flex-direction: column;
  }
}

.animate {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #3498db;
  position: relative;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 10px;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

.each-coin {
  background-color: rgb(70, 177, 164);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  padding: 10px;
  cursor: pointer;
  margin: 4px;
  border-radius: 8px;
  transition: 0.5s;
  max-width: 100%;
}

.each-coin:hover {
  opacity: 0.6;
}

.pointer {
  background: none;
  color: black;
  border: none;
  font-size: larger;
  cursor: pointer;  
}

.back-arrow {
  border: none;
  color: black;
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.details {
  color: white;
}

.header-detail {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-detail {
  width: 10%;
  margin-bottom: 40px;
}

.url {
  color: silver;
  cursor: pointer;
  text-decoration: none;
}

.url:hover {
  transition: 0.6s ease-in;
  color: blue;
  text-decoration: underline;
}

table {
  width: 100%;
  font-size: 1em;
  padding: 0 10px 10px 10px;
  background-color: rgb(0, 97, 86);
}

caption {
  padding: 20px;
  background-color: rgb(0, 97, 86);
}

tr {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

tr:nth-child(odd),
tr:nth-child(odd) > * {
  background-color: rgb(101, 182, 171);
  border-radius: 5px;
}
