@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;900&display=swap');
@import url('https://fonts.cdnfonts.com/css/gill-sans');

:root {
  --primary-color: #022a74;
  --secondary-color: #001233;
  --gray-color: #979dac;
  --white: #fff;
}

body {
  background-color: var(--secondary-color);
}

/* header */

header {
  height: 70px;
}

.header-content {
  position: fixed;
  z-index: 5;
  width: 100%;
  background-color: var(--primary-color);
  color: var(--white);
  padding: 10px 0;
  height: 50px;
  display: flex;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 93%;
  margin: auto;
}

nav h2 {
  font-size: 18px;
}

nav ul {
  display: flex;
  gap: 15px;
  list-style: none;
}

.home-link-icon,
.nav-icons {
  color: var(--gray-color);
  cursor: pointer;
}

.nav-icons {
  font-size: 18px;
}

/* Main search bar */

main {
  width: 93%;
  margin: 30px auto;
}

main .search-bar {
  background-color: var(--primary-color);
  outline: none;
  color: var(--gray-color);
  padding: 8px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
}

main .search-bar:focus {
  border: 1px solid var(--gray-color);
}

.input-header {
  color: white;
  font-style: italic;
}

.ul-cont {
  display: inline-flex;
  justify-content: center;
  gap: 20px;
  animation: glow 1.2s infinite;
  -moz-animation: glow 1.2s ease infinite;
  -webkit-animation: glow 1.2s infinite;
}

.ul-cont li {
  list-style: none;
  cursor: pointer;
  color: white;
}

.rotate-img {
  display: grid;
  place-items: center;
}

.grid {
  /* display: grid;
  padding: 0 40px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .each-coin {
    /* grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr; */

    /* width: 50%; */
    width: 190px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 1140px) {
  .grid .each-coin {
    width: 200px;
  }
}

.animate {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #3498db;
  position: relative;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 10px;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

.each-coin {
  background-color: var(--primary-color);
  padding: 10px;
  cursor: pointer;
  margin: 4px 0;
  border-radius: 8px;
  transition: 0.5s;
  width: 200px;
  height: 250px;
  flex-direction: row;
}

.each-coin:hover {
  opacity: 0.6;
}

.pointer {
  background: none;
  color: black;
  border: none;
  font-size: larger;
  cursor: pointer;
}

.back-arrow {
  border: none;
  color: black;
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.details {
  color: white;
}

.header-detail {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-detail {
  width: 10%;
  margin-bottom: 40px;
}

.url {
  color: silver;
  cursor: pointer;
  text-decoration: none;
}

.url:hover {
  transition: 0.6s ease-in;
  color: blue;
  text-decoration: underline;
}

table {
  width: 100%;
  font-size: 1em;
  padding: 0 10px 10px 10px;
  background-color: var(--secondary-color);
}

caption {
  padding: 20px;
  background-color: var(--secondary-color);
}

tr {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

tr:nth-child(odd),
tr:nth-child(odd) > * {
  background-color: var(--primary-color);
  border-radius: 5px;
}
